.example-form {
    min-width: 150px;
    max-width: 720px;
    width: 720px;
    height: 600px;
}
  
.example-full-width {
width: 100%;
}

.example-button-row {
display: table-cell;
float: right;
}

.example-button-row button {
display: table-cell;
margin-right: 8px;
padding: 3px 35px;

}