<form class="d-flex justify-content-center p-4">
    <mat-card *ngFor="let video of videos" class="example-form">
        <mat-card-header >
            <mat-card-title > {{video.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" [src]="video.link | travaux" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card-content>
        <mat-card-content> 
            <span class="">Description:</span>
            <p>{{video.description}}</p>
        </mat-card-content>
    </mat-card>
</form>