<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="secondary">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button>
        <mat-menu #menu="matMenu" color="secondary">
          <button mat-menu-item><mat-icon>list</mat-icon><span>List</span></button>
          <button mat-menu-item><mat-icon>person_add</mat-icon><span>Profil</span></button>
          <button mat-menu-item><mat-icon>cancel</mat-icon><span>Quiter</span></button>
        </mat-menu>
        <span class="spacer"></span>
        <div fxLayoutAlign="space-between center">
            <button mat-button  ><span>Discussion</span></button>
            <button mat-button  ><span>Travaux et devoirs</span></button>
            <button mat-button  ><span>Participant</span></button>
        </div>
      </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>